.container {
	/*allow content to be responsive*/
	display: flex;
	flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
 order: 10;
}

body {
	font-size: 16px;
}

.hero article {
	background-color: rgba(0, 0, 0, 0.51);
}

.news__more, .news__title {
	font-size: 1em;
}

@media screen and (max-width: 549px) {
	.header__title {
		font-size: 2em;
		padding: 10px 0px 10px 0px;
		display: inline-block;
		margin: 0px;
	}
	.header__logo {
		box-sizing: border-box;
	}
	.news {
		padding: 12px;
	}
	.news__title {
		line-height: 50px;
	}
	.news__more {
		width: 50px;
		line-height: 50px;
		float: right;
		text-align: center;
	}
	/* hamburger */
	.nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}

@media screen and (min-width: 550px) {
  .hero {
    order: 0;
    width: 60%;
    height: auto;
  }
  .hero_short {
  	margin: 0;
  }
  .top-news {
		order: 1;
		width: 40%;
		margin: 0;
	}
}

@media screen and (min-width: 748px) {  
	.hero {
		width: 50%;
	}
	.top-news {
		order: 2;
		width: 40%;
	}
	.weather {
		order: 1;
		width: 50%
	}
	.scores {
		order: 3;
		width: 60%;
	}
	.scores__location, .team_short {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	main, .header, .nav  {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}